h2.yo_marco {
	padding: 10px 0px 10px 10px;
	height: 24px;
}

.container {
	padding: 10px;
}

body {
	min-width: 700px;
	background-color: white;
}

#creditos {
	display: none;
}

#lista_marcas h1 {
	padding: 0px;
}

.sortable {
	margin-bottom: 10px; 
}

.json {
	list-style-type: none;
	padding: 0;
	margin: 4px 0 4px 0;
	color: #999;
	font-style: italic;
}