h2.yo_marco {
	padding: 10px 0px 10px 10px;
	height: 24px;
}

.container {
	padding: 10px;
}

body {
	width: 500px;
	background-color: white;
}

#creditos {
	display: none;
}

.eliminar {
	padding-left: 10px;
}

.fecha {
	padding-left: 10px;
}

#lista_marcas h1 {
	padding: 0px;
}